<% include partials/header %>

<div class="ui main container segment">
    <div class="ui huge header">New Blog</div>

    <form class="ui form" action="/blogs" method="post">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="text" name="blog[image]" placeholder="Image URL">
        </div>
        <div class="field">
            <label for="">Post</label>
            <textarea name="blog[body]"></textarea>
        </div>

        <div class="ui buttons">
            <input type="submit" value="Submit" class="ui violet button">
            <div class="or"></div>
            <a class="ui green button" href="/blogs">Cancel</a>
        </div>
    </form>
</div>

<% include partials/footer %>